#flexContainer {
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    background-color: lightcoral;
    align-items: center;
}

.link2 {
    align-self: flex-start;
    order: -1;
}

#flexMomma {
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    height: 200px;

    align-items: flex-end;
    justify-content: space-between;
}

.thirdItem {
    align-items: flex-start;
    order: -1;
    background-color: red;
    flex-basis: 200px;
    
}

#tryContainer {
 width: 100%;
 height: 100px;

 display: flex;
 flex-wrap: wrap;
}

.tryItem {
    width: 300px;
}

.parent {
    width: 600px;
    background-color: burlywood;

    display: flex;
}

.child {
    flex-grow: 1;
}

.child5 {
    flex-grow: 4;
    flex-wrap: wrap;
}

main {
    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50px 100px 100px 100px 100px 100px;
    grid-gap: 20px 100px;
}

main header {
    grid-column: span 2;
}

main #hero {
    grid-column: span 2;
    
}

main article {
    grid-row: span 3;
}

main footer {
    grid-column: span 2;
}